@using ChatClient.Web.Common
@using ChatClient.Services.ParticipantsService
@model Participant

<div style="margin: 5px">
    Your name: <strong>@Model.Username</strong>
    @Html.ActionLink("Logout", "Logout", "Home", new { username = Model.Username }, new { @class = "btn btn-primary pull-right" })
    <span class="clearfix"></span>
</div>
@Html.Hidden("user", Model.Username)
@Html.Hidden("userId", Model.Id)

<div class="contacts"></div>