
<div class="row main-container" style="margin:20px">
    <div class="col-md-3 login-container">
        <input type="text" placeholder="Enter your name" id="username" class="col-md-6" />
        <div class="col-md-6">
            <button class="login-button">Login</button>
        </div>
    </div>
    <div class="col-md-6 messages"></div>
    <div class="col-md-3 chat-rooms"></div>
</div>