
<div class="row login-container" style="margin:20px">
    <input type="text" placeholder="Enter your name" id="username" class="col-md-6" />
    <div class="col-md-6">
        <button class="login-button">Login</button>
    </div>
</div>
<div class="chatroom-container">

</div>