@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Welcome to Twitter Backup</h3>
    <p>Here you can store selected tweets of your favourite Twitter accounts and then to re-tweet some of them</p>
</div>