<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IChatService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hadess/chatserver/ChatService.svc/Chat"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChatService"
                contract="Chat.IChatService" name="BasicHttpBinding_IChatService" />
        </client>
    </system.serviceModel>
</configuration>