<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IParticipantsManager" />
                <binding name="BasicHttpBinding_IMessagesManager" />
                <binding name="BasicHttpBinding_IChatRoomsManager" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ChatServer1/MessagesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagesManager"
                contract="MessagesService.IMessagesManager" name="BasicHttpBinding_IMessagesManager" />
            <endpoint address="http://localhost/ChatServer1/ChatRoomsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChatRoomsManager"
                contract="ChatRoomsService.IChatRoomsManager" name="BasicHttpBinding_IChatRoomsManager" />
            <endpoint address="http://localhost/ChatServer1/ParticipantsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParticipantsManager"
                contract="ParticipantsService.IParticipantsManager" name="BasicHttpBinding_IParticipantsManager" />
            <endpoint address="http://localhost/ChatServer1/DuplexService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexService"
                contract="DuplexService.IDuplexService" name="WSDualHttpBinding_IDuplexService">
                <identity>
                    <servicePrincipalName value="host/SOFNXWDEV10.Bforex.Local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>